<div id="principals">
  <h1 class="projnames">
    {{project.name}}
  </h1>
  <div class="mytextcard">
    <div class="projectcard">
      <div class="projinfo">

        {{project.year}}
        <br />
        {{project.desc}}
      </div>
      <div class="divimage">
        <img src={{project.url}} alt={{project.name}} />
      </div>
    </div>
  </div>
</div>